<div class="modal-header">
  <h4 class="modal-title pull-left">Modification du Dossier: <span style="color: rgb(0, 98, 255);">{{selectedDossier.dossierNumber}}</span></h4>
  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="main-content">
  <div class="container-fluid">
    <form [formGroup]="updateDossierForm">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header" style="background-color: rgb(0, 98, 255);">
              <h4 class="card-title" style="color: white">Antécédents medicaux</h4>
            </div>
            <div class="card-body">
              <mat-select [formControlName]="'antecedant'" value="{{selectedDossier.antecedant}}" multiple>
                <mat-option *ngFor="let antecedant of antecedantList" [value]="antecedant">{{antecedant}}</mat-option>
              </mat-select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header" style="background-color: rgb(0, 98, 255);">
              <h4 class="card-title" style="color: white">Informations médicales</h4>
            </div>
            <div class="card-body">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Diagnostic Fibrillation</mat-label>
                <select [formControlName]="'diagnostic'" value="{{selectedDossier.diagnostic}}" matNativeControl>
                  <option value="OUI">OUI</option>
                  <option value="NON">NON</option>
                </select>
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Charge Fibrillation</mat-label>
                <input type="number" matInput [formControlName]="'fibrilationLoad'" value="{{selectedDossier.fibrilationLoad}}">
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Ancienneté Implementation</mat-label>
                <input type="number" matInput [formControlName]="'fibrilationLoad'" value="{{selectedDossier.implantationOlder}}">
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Insuffisance cardiaque</mat-label>
                <select [formControlName]="'insuffisanceCardiaque'" value="{{selectedDossier.insuffisanceCardiaque}}" matNativeControl>
                  <option value="OUI">OUI</option>
                  <option value="NON">NON</option>
                </select>
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Valeur Tachychardie artérielle</mat-label>
                <input type="number" matInput [formControlName]="'tach_arter_value'" value="{{selectedDossier.tach_arter_value}}">
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Chads Vasculaire</mat-label>
                <select [formControlName]="'chads_vasc'" value="{{selectedDossier.chads_vasc}}" matNativeControl>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                </select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <button mat-raised-button type="submit" style="background-color: rgb(0, 98, 255);" class="btn pull-right" (click)="submit()">Enregistrer</button>
      <div class="clearfix"></div>
    </form>
  </div>
</div>
