<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" style="background-color: #67cacd;">
            <h4 class="card-title" style="color: white;">Creation Dossier</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="createDossierForm">
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <input [formControlName]="'fullName'" matInput placeholder="Nom - Prenom" type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Genre</mat-label>
                    <select [formControlName]="'gender'" matNativeControl>
                      <option value="MASCULIN">MASCULIN</option>
                      <option value="FEMININ">FEMININ</option>
                    </select>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <input [formControlName]="'phone'" matInput placeholder="Telephone" type="text">
                  </mat-form-field>
                </div>

              </div>

              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <input [formControlName]="'address'" matInput placeholder="Adresse" type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Race</mat-label>
                    <select [formControlName]="'race'" matNativeControl>
                      <option value="NOIRE">Noire</option>
                      <option value="BLANCHE">Blanche</option>
                      <option value="METIS">Metis</option>
                    </select>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <input [formControlName]="'age'" matInput placeholder="Age" type="number">
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <mat-form-field appearance="fill">
                    <mat-label>Antecedents</mat-label>
                    <mat-select [formControlName]="'antecedant'" multiple>
                      <mat-option *ngFor="let antecedant of antecedantList" [value]="antecedant">{{antecedant}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <input [formControlName]="'implantationOlder'" matInput placeholder="Anciennete de l'Implantation" type="number">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Insuffisance Cardiaque</mat-label>
                    <select [formControlName]="'insuffisanceCardiaque'" matNativeControl>
                      <option value="OUI">OUI</option>
                      <option value="NON">NON</option>
                    </select>
                  </mat-form-field>
                </div>

              </div>

              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Diagnostic Fibrillation</mat-label>
                    <select [formControlName]="'diagnostic'" matNativeControl>
                      <option value="OUI">OUI</option>
                      <option value="NON">NON</option>
                    </select>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Charge Fibrillation</mat-label>
                    <input [formControlName]="'fibrilationLoad'" matInput placeholder="" type="number">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>CHADS-VASC</mat-label>
                    <select [formControlName]="'chads_vasc'" matNativeControl>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                    </select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label for="electrocardiogramme">Electrocardiogramme(Fichier XML)</label>
                  <mat-form-field class="example-full-width">
                    <input type="file" id="avatar-file-input" accept=".xml" matInput (change)="uploadElectroImage(avatarFileInput.files)" #avatarFileInput >
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-card class="form-card">
                    <mat-card-subtitle>Tachychardie Arterielle</mat-card-subtitle>
                    <mat-radio-group [formControl]="haveTachArter" [formControlName]="'tach_arter'">
                      <mat-radio-button value="oui">OUI</mat-radio-button>
                      <mat-radio-button value="non">NON</mat-radio-button>
                    </mat-radio-group>
                  </mat-card>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-md-6">
                  <mat-card class="form-card" *ngIf="showTachArtControl$ | async">
                    <mat-card-subtitle>Valeur TA</mat-card-subtitle>
                    <mat-form-field appearance="fill">
                      <input type="number" matInput [formControlName]="'tach_arter_value'" [max]="30" [min]="0">
                    </mat-form-field>
                  </mat-card>
                </div>
              </div>
              <button mat-raised-button type="submit" style="background-color: #67cacd;" class="btn pull-right" (click)="addDossier()">Enregistrer</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
